@charset "utf-8";

.title {
  text-align: center;
  font-size: 38px;
}

.container {
  text-align: center;
}

#timer {
  font-size: 36px;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.2em;
  max-width: 360px;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn-shadow {
  width:100px;
  height: 50px;
  margin: 10px;
  box-shadow: 0 10px 0 #778899;
}

.btn {
  width:100px;
  height: 50px;
  margin: 10px;
}
